.first-color {
  background: #222831;
}

.second-color {
  background: #393e46;
}

.third-color {
  background: #f96d00;
}

.fourth-color {
  background: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(i) {
  font-family: "Inter", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.calculator {
  background-color: #9ba6a5;
  border-radius: 14px;
  transform: scale(0.7);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(120px, auto) repeat(5, 80px);
  gap: 10px;
  padding: 20px;
}

.display {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  background-color: rgb(78, 78, 78);
  box-shadow: inset 0 0 10px rgb(37, 37, 37);
  border-radius: 10px;
  justify-content: space-between;
  word-wrap: break-word;
  word-break: break-all;
  text-align: right;
}

.container-grid > button {
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 10px;
  outline: none;
  color: white;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  border: 0px;
}

.container-grid > button:hover {
  background-color: #b6bbc2;
  transform: scale(0.91);
  font-size: 1.3rem;
}

button[data-operation],
button[data-equals] {
  background-color: #f96d00;
}

button[data-ac],
button[data-c],
button[data-percent] {
  background-color: #222831;
}

button[data-number],
button.point {
  background-color: #393e46;
}

.span-two {
  grid-column: span 2;
}

.ac:hover,
.c:hover,
.percent:hover {
  background-color: #50565e !important;
}

.operation:not(.percent):hover,
.equals:hover {
  background-color: #f7a768 !important;
}

.display > #lastOperationDisplay {
  font-size: 1.5rem;
  color: #f2f2f2;
}

.display > #currentOperationDisplay {
  font-size: 2rem;
  color: #f2f2f2;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #222831;
  margin-top: 20px;
}

.fa-github {
  font-size: 20px;
  color: #222831;
  transition: transform 0.4s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
